@use "../00-global" as *;

.button {
  &__group {
    flex-direction: column;
    gap: $num-16px;
    width: 100%;

    @media screen and (min-width: $screen-medium) {
      flex-direction: row;
      gap: $num-32px;
    }
  }

  &__item {
    flex: 1;
    width: 100%;

    .main,
    .sub {
      display: block;
    }

    .main {
      font-size: clamp($num-20px, 0.782rem + 0.96vw, $num-24px);
    }

    .main-s {
      font-size: clamp($num-16px, 0.532rem + 0.96vw, $num-20px);
    }

    .sub {
      font-size: clamp($num-12px, 0.516rem + 0.48vw, $num-14px);
    }

    .sub-s {
      font-size: clamp($num-10px, 0.391rem + 0.48vw, $num-12px);
    }
  }
}

.button-type {
  &__primary {
    .wp-block-button__link {
      background-color: $col-primary;
      border-radius: 0;
      color: $white;

      &:hover {
        background-color: $col-primary-dark;
      }
    }
  }

  &__secondary {
    .wp-block-button__link {
      background-color: $black;
      border-radius: 0;
      color: $white;

      &:hover {
        background-color: $col-primary-dark;
      }
    }
  }

  &__dotted {
    .wp-block-button__link {
      background-color: transparent;
      border: 1px dotted $black;
      border-radius: 0;
      color: $black;

      &:hover {
        border-color: $col-primary-dark;
        color: $col-primary-dark;
      }
    }
  }

  &__dotted-inversed {
    .wp-block-button__link {
      background-color: transparent;
      border: 1px dotted $white;
      border-radius: 0;
      color: $white;

      &:hover {
        border-color: $col-primary-dark;
        color: $col-primary-dark;
      }
    }
  }
}

.trl-button-large {
  &__group {

  }

  &__item {
    .wp-block-button__link {
      border-radius: 0;
      padding: $num-20px;
      text-box: trim-both cap alphabetic;

      font-size: clamp($num-16px, 0.618rem + 1.18vw, $num-24px);
    }
    
    &.type-filled {
      .wp-block-button__link {
        background-color: $col-primary;
        color: $white;

        &:hover {
          background-color: $col-primary-dark;
        }
      }
    }

    &.type-outlined {
      .wp-block-button__link {
        background-color: $white;
        border: 1px solid $black;
        color: $black;

        &:hover {
          border: 1px solid $col-primary;
          color: $col-primary;
        }
      }
    }
  }
}

.trl-button-medium {
  &__group {

  }

  &__item {
    .wp-block-button__link {
      border-radius: 0;
      padding: $num-12px;
      text-box: trim-both cap alphabetic;
    }
    
    &.type-filled {
      .wp-block-button__link {
        background-color: $col-primary;
        color: $white;

        &:hover {
          background-color: $col-primary-dark;
        }
      }
    }

    &.type-outlined {
      .wp-block-button__link {
        background-color: $white;
        border: 1px solid $black;
        color: $black;

        &:hover {
          border: 1px solid $col-primary;
          color: $col-primary;
        }
      }
    }

    &.type-outlined-inversed {
      .wp-block-button__link {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        &:hover {
          border: 1px solid $col-primary;
          color: $col-primary;
        }
      }
    }
  }
}

.trl-button-xtra-small {
  &__group {

  }

  &__item {
    .wp-block-button__link {
      border-radius: 0;
      padding: $num-8px;
      text-box: trim-both cap alphabetic;
      font-size: $num-12px;
    }

    &.type-outlined {
      .wp-block-button__link {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        &:hover {
          border: 1px solid $col-primary;
          color: $col-primary;
        }
      }
    }
  }
}

// SNSボタン
.trl-button-social {
  border: 2px solid $black;
  border-radius: 999px;
  padding: $num-8px;

  &:hover {
    border: 2px solid $col-primary;

    svg {
      path {
        stroke: $col-primary;
        transition: all 0.5s 0s ease;
      }
    }
  }

  .wp-block-safe-svg-svg-icon {
    line-height: 1;
    width: $num-24px;
    height: $num-24px;
  }

  svg {
    width: $num-24px;
    height: $num-24px;
    fill: transparent;
  }
}
