@use "../00-global" as *;

.entry-content {
  margin-block-start: 67px;
  margin-block-end: 0;

  @media screen and (min-width: $screen-xlarge) {
    margin-block-start: 99px;
  }

    @media screen and (min-width: $screen-2xlarge) {
    margin-block-start: 112px;
  }
}

html {
  scroll-behavior: smooth;
}

.section {
  &__standard {
    margin: 160px 0;
    padding: 0 $num-16px;
  
    @media screen and (min-width: $screen-medium) {
      padding: 0 $num-24px;
    }
  
    @media screen and (min-width: $screen-xlarge) {
      padding: 0;
    }
  }
}

// レイアウト幅の設定
.w-520,
.w-782 ,
.w-1040,
.w-1200 {
  margin: 0 auto;
}

.w-520 {
  max-width: $screen-xsmall;
}

.w-782 {
  max-width: $screen-medium;
}

.w-1040 {
  max-width: $screen-large;
}

.w-1200 {
  max-width: $screen-xlarge;
}

// コラム数の設定
.col-2 {
  flex-direction: column;
  gap: $num-64px;

  @media screen and (min-width: $screen-medium) {
    gap: $num-32px;
    flex-direction: row;
  }

  @media screen and (min-width: $screen-large) {
    gap: $num-64px;
  }

  &.ratio-50-50 {
    .wp-block-group {
      flex: 0 1 100%;
      width: 100%;

      @media screen and (min-width: $screen-medium) {
        flex: 0 1 calc((100% - $num-32px) / 2);
      }
    
      @media screen and (min-width: $screen-large) {
        flex: 0 1 calc((100% - $num-64px) / 2);
      }
    }
  }
}

.col-3 {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $num-48px;

  @media screen and (min-width: $screen-medium) {
    gap: $num-48px;
    flex-direction: row;
    align-items: stretch;
  }

  @media screen and (min-width: $screen-large) {
    gap: $num-48px;
  }

  .wp-block-group {
    flex: 0 1 100%;
    max-width: 360px;

    @media screen and (min-width: $screen-medium) {
      flex: 0 1 calc((100% - $num-48px) / 2);
    }
  
    @media screen and (min-width: $screen-large) {
      flex: 0 1 calc((100% - ($num-48px * 2)) / 3);
    }

    &.type__bg-red {
      background-color: $col-primary-light;
      padding: $num-32px;
    }
  }
}

.col-3-border {
  &__group {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;

    @media screen and (min-width: $screen-medium) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__item {
    flex: 0 1 100%;
    max-width: 360px;
    padding: $num-32px;

    @media screen and (min-width: $screen-medium) {
      flex: 0 1 calc(100% / 2);
    }
  
    @media screen and (min-width: $screen-large) {
      flex: 0 1 calc(100% / 3);
      max-width: 100%;
    }

    &:first-child {
      border-bottom: 1px solid $black;

      @media screen and (min-width: $screen-medium) {
        border-right: 1px solid $black;
      }
      
      @media screen and (min-width: $screen-large) {
        border-bottom: 0;
      }
    }

    &:nth-child(2) {
      border-bottom: 1px solid $black;

      @media screen and (min-width: $screen-medium) {
        border-right: 0;
      }
    
      @media screen and (min-width: $screen-large) {
        border-bottom: 0;
        border-right: 1px solid $black;
      }
    }
  }
}

// 背景色の設定
.bg-black {
  background-color: $black;
  color: $white;

  p {
    color: $col-grayscale;
  }
}

.bg-gray-darkest {
  background-color: $col-grayscale-darkest;
}


.bg-gray {
  background-color: $col-background;
  padding: $num-48px 0;

  @media screen and (min-width: $screen-small) {
    padding: $num-64px 0;
  }
}

.bg-blue {
  background-color: $col-primary-lighter;
  padding: $num-48px 0;

  @media screen and (min-width: $screen-small) {
    padding: $num-64px 0;
  }
}

.bg-baige {
  background-color: $baige;
}

.bg-white {
  background-color: $white;
}

.bg-vision {
  background: linear-gradient(to right, $sky-light, $sky-light, $sky-dark, $sky-dark);
  margin-block-end: $num-64px;
}

.bg-hero {
  background: linear-gradient(to bottom, $white, $col-primary-light);
}

// Wrapper
.trl-wrapper-128 {
  &__wrapper {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;

    .wp-block-group {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    // カバーブロック使用時の高さのリセット
    &.wp-block-cover {
      min-height: unset !important;
    }
  }
  
  &__container {
    padding: clamp($num-64px, 0.941rem + 9.41vw, $num-128px) $num-16px;

    @media screen and (min-width: $screen-medium) {
      padding: clamp($num-64px, 0.941rem + 9.41vw, $num-128px) $num-32px;
    }

    @media screen and (min-width: $screen-xlarge) {
      max-width: $screen-large;
      padding: clamp($num-64px, 0.941rem + 9.41vw, $num-128px) 0;
    }

    @media screen and (min-width: $screen-2xlarge) {
      max-width: $screen-xlarge;
    }
  }
}

.type-bg-target-audience {
  display: none;
      
  @media screen and (min-width: $screen-large) {
    display: block;
    background-image: url("/assets/images/bg__target-audience.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    mix-blend-mode: multiply;
    width: calc((100% - (clamp($num-16px, -0.529rem + 4.71vw, $num-48px) * 2)) / 3);
    height: 368px;
    object-fit: contain;

    position: absolute;
    bottom: 0;
    left: 32px;
  }

  @media screen and (min-width: $screen-xlarge) {
    left: 0;
  }
}

.trl-wrapper-flexible { 
  &__container {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 $num-16px;

    @media screen and (min-width: $screen-medium) {
      padding: 0 $num-32px;
    }

    @media screen and (min-width: $screen-xlarge) {
      max-width: $screen-large;
      padding: 0;
    }

    @media screen and (min-width: $screen-2xlarge) {
      max-width: $screen-xlarge;
    }
  }
}

.trl-margin-killer {
  margin-block-start: 0;
  margin-block-end: 0;
}
