@use "../00-global" as *;

.trl-quote-standard {
  &__container {
    margin: 0 auto !important;
    padding: $num-16px $num-32px;
    position: relative;

    &:before,
    &:after {
      display: inline-block;
      content: "";
      background-color: $white;
      mask-image: url("/assets/images/icon__quote.svg");
      mask-size: $num-24px $num-24px;
      width: $num-24px;
      height: $num-24px;
      position: absolute;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      transform: rotate(180deg);
      right: 0;
      bottom: 0;
    }

    p {
      font-size: clamp($num-24px, 1.118rem + 1.18vw, $num-32px);
      font-style: italic;
    }
  }
}
