@use "../00-global" as *;

.trl-profile {
   h2 {
    margin: 0 0 $num-64px;
  }

  h6 {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:before {
      display: inline-block;
      content: "";
      mask-size: $num-32px $num-32px;
      background-color: $col-primary;
      width: $num-32px;
      height: $num-32px;
      margin-right: $num-4px;
    } 

    &.type-icon-certificate {
      &:before {
        mask-image: url("/assets/images/icon__certificate.svg");
      }
    }

    &.type-icon-career {
      &:before {
        mask-image: url("/assets/images/icon__career.svg");
      }
    }

    &.type-icon-speech {
      &:before {
        mask-image: url("/assets/images/icon__speech.svg");
      }
    }

    &.type-icon-column {
      &:before {
        mask-image: url("/assets/images/icon__column.svg");
      }
    }
  }

  .biography {
    &__group {
      align-items: center;
      gap: $num-48px;

      @media screen and (min-width: $screen-medium) {
        align-items: flex-start;
      }
    }

    &__item {
      &--job-title {
        font-size: $num-16px;
        color: $col-grayscale-darker;
      }

      &--name {
        font-size: clamp($num-40px, 2.118rem + 1.18vw, $num-48px);
        font-weight: 600;
      }

      &--rubi {
        font-size: clamp($num-16px, 0.809rem + 0.59vw, $num-20px);
        color: $col-primary;
      }

      &--quote {
        font-size: clamp($num-20px, 0.676rem + 1.76vw, $num-32px);
        font-style: italic;
        font-weight: 600;
        margin: $num-32px 0 !important;

        @media screen and (min-width: $screen-medium) {
          margin: $num-64px 0 !important;
        }
      }

      &--description {

      }

      &:first-child {
        flex: 0 1 100%;
        max-width: 240px;

        @media screen and (min-width: $screen-medium) {
          max-width: 200px;
        }

        @media screen and (min-width: $screen-large) {
          max-width: 368px;
        }
      }

      &:last-child {
        flex: 0 1 100%;

        @media screen and (min-width: $screen-medium) {
          flex: 0 1 calc(100% - ($num-48px + 200px));
        }

        @media screen and (min-width: $screen-large) {
          flex: 0 1 calc(100% - ($num-48px + 368px));
        }
      }
    }
  }

  ul {
    padding: 0 0 0 $num-24px;
  }

  li {
    font-size: $num-16px;
  }
}

.trl-philosophy {
 h2 {
  margin: 0 0 $num-64px;
 }

 h3 {
  margin: $num-32px 0 $num-24px;
 }

 h4 {
  margin: 0 0 $num-48px;
 }

 h5 {
  color: $col-primary;
  margin: $num-24px 0 $num-32px;
 }

 .paragraph {
  &__lead {
    &--centered {
      text-align: left;

      @media screen and (min-width: $screen-medium) {
        text-align: center;
      }
    }
  }
 }
}

.trl-training-space {
 h2 {
  margin: 0 0 $num-64px;
 }
}

.trl-pricing {
  margin-block-start: 0;
  margin-block-end: 0;
  
  h2 {
    margin: 0 0 $num-16px;
  }

  h3 {
    margin: $num-32px 0;
  }

  .pricing-box {
    &__group {

    }

    &__item {
      background-color: $white;
      box-shadow: 0 0 $num-8px rgba(0,0,0,0.16);
      padding: $num-32px;
      text-align: center;
      
      @media screen and (max-width: $screen-medium) {
        width: 100%;
        
      }

      &--icon {

      }

      &--name {
        font-size: $num-20px;
        font-weight: 700;
      }

      &--sub {
        font-size: $num-14px;
        color: $col-grayscale-darker;
        margin: $num-4px 0 $num-16px !important;
      }

      &--price {
        font-size: clamp($num-24px, 1.118rem + 1.18vw, $num-32px);
        background-color: $col-grayscale-lighter;
        border-radius: $num-8px;
        padding: $num-16px 0;
        text-box: trim-both cap alphabetic;
      }

      &:first-child {
        .pricing-box__item--price {
          background-color: $col-primary-light;
          color: $col-primary;
        }
      }
    }
  }

  .joining-fee-box {
    &__container {

    }

    &__note {
      font-size: $num-16px;
      margin: $num-16px 0 $num-24px !important;
    }

    &__price {
      font-size: clamp($num-24px, 1.118rem + 1.18vw, $num-32px);
      background-color: $white;
      border-radius: $num-8px;
      padding: $num-16px $num-48px;
      text-box: trim-both cap alphabetic;
      width: fit-content;
    }
  }

  h4 {
    color: $col-primary;
  }
}

.trl-2col-full-width {
  &__wrapper {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__group {
    flex-direction: column;
    gap: 0;
    align-items: stretch;

    @media screen and (min-width: $screen-medium) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1;
    width: 100%;
    gap: 0;

    &:last-child {
      border-left: 0;
      border-top: 1px solid $white;
      
      @media screen and (min-width: $screen-medium) {
        border-left: 1px solid $white;
        border-top: 0;
      }
    }
  }
}

.trl-2col-full-width-contents {
  &__cover {
    aspect-ratio: 3 / 2;
    padding: 0;
    min-height: unset;
    width: 100%;

    @media screen and (min-width: $screen-medium) {
      aspect-ratio: 4 / 3;
    }
  }

  &__container {
    padding: clamp($num-24px, 0.353rem + 3.53vw, $num-48px) clamp($num-16px, -0.529rem + 4.71vw, $num-48px);
  }

  &__heading {
    font-size: clamp(1rem, 0.618rem + 1.18vw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp($num-8px, -0.265rem + 2.35vw, $num-24px);

    
    &.type-for-athlete,
    &.type-for-adult {
      &:before {
        display: inline-block;
        content: "";
        background-size: clamp($num-48px, 1.471rem + 4.71vw, $num-80px) clamp($num-48px, 1.471rem + 4.71vw, $num-80px);
        width: clamp($num-48px, 1.471rem + 4.71vw, $num-80px);
        height: clamp($num-48px, 1.471rem + 4.71vw, $num-80px);
        margin-right: $num-4px;
        margin: 0;
      }

    }

    &.type-for-athlete {
      &:before {
        background-image: url("/assets/images/icon__for-athlete.svg");
      }
    }

    &.type-for-adult {
      &:before {
        background-image: url("/assets/images/icon__for-adult.svg");
      }
    }
  }

  &__thumbnail {
    img {
      width: 100%;
    }
  }

  &__description {
    font-size: clamp($num-16px, 0.809rem + 0.59vw, $num-20px);
    max-width: 576px;
  }
}
