.wp-admin {
  .wp-user-avatar {
    width: 48px;
    height: 48px;
  }
  
  .editor-resizable-editor {
    margin: 0 auto;
    padding: 0 40px;
    background-color: #FFF !important;
    max-width: 1040px !important;
  }
}
